{% extends 'base.html'  %}

{% block content %}
    <style>
        .btn-primary {
            background-color: #785333;
            border-color: #785333;
            font-size: 1.1rem;
            padding: 10px 20px;
        }

        .btn-primary:disabled {
            background-color: #ccc;
            border-color: #ccc;
            cursor: not-allowed;
        }

        .btn-danger {
            background-color: #d9534f;
            border-color: #d9534f;
            font-size: 1rem;
            padding: 10px 20px;
        }

        .cancel-button {
            display: none;
        }
    </style>

    <div class="container">
        <img src="{{atividade.imagem.thumb.url}}" alt="...">

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{atividade.nome}}</h1>
                <p class="col-md-8 fs-4">{{atividade.descricao}}</p>
                <p class="col-md-8 fs-4"><strong>Capacidade:</strong> {{atividade.capacidade}}</p>
                <p class="col-md-8 fs-4"><strong>Início:</strong> {{atividade.hora_inicio}}</p>

                {% if user in atividade.inscritos.all %}
                    <form method="POST" action="{% url 'inscrever_atividade' atividade.id %}" id="inscricao-form">
                        {% csrf_token %}
                        <button type="submit" name="cancelar" class="btn btn-danger">Cancelar Inscrição</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'inscrever_atividade' atividade.id %}" id="inscricao-form">
                        {% csrf_token %}
                        <button type="submit" name="inscrever" class="btn btn-primary" id="btn-inscrever">Participar</button>
                    </form>
                {% endif %}

            </div>
        </div>

        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}