<footer>
  <div class="footer-container">
    <div class="footer-redes" style="text-align:center">
      <ul>
        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="mailto:contato@vilatoscana.com.br"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://maps.google.com" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>

      </ul>
    </div>
    <div class="footer-contato">
      <p>Telefone: (32) 3321-7515</p>
      <p>WhatsApp: (32) 9 9808-6609</p>
      <p>E-mail: vilatoscana@gmail.com</p>
    </div>
  </div>
          <p style="padding:20px;text-align:center">Todos os direitos reservados</p>
</footer>