<!-- INICIO DO STYLE -->
    <style>

footer {
  background-color: #688674;
  padding: 20px;
  text-align: left;
  color:white
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.footer-menu li {
  display: inline;
  margin: 0 15px;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
}

.footer-redes ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.footer-redes li {
  display: inline;
  margin: 0 10px;
}

.footer-contato p {
  margin: 5px 0;
}

.footer-contato a {
  text-decoration: none;
  color: #333;
}order: 2px solid #785333;
    }
   </style>

<footer>
  <div class="footer-container">
    <div class="footer-redes" style="text-align:center">
      <ul>
        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="mailto:contato@vilatoscana.com.br"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://maps.google.com" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>

      </ul>
    </div>
    <div class="footer-contato">
      <p>Telefone: (32) 3321-7515</p>
      <p>WhatsApp: (32) 9 9808-6609</p>
      <p>E-mail: vilatoscana@gmail.com</p>
    </div>
  </div>
          <p style="padding:20px;text-align:center">Todos os direitos reservados</p>
</footer>