{% load static %}
<style>
    
    body {
      background-color: white;
      color: #785333;
      font-family: "Cinzel", serif;
      font-size: 24px;
      font-weight: 700;
    }
    

.btn {
    color: white;
    background: #785333;
    border: 2px solid #785333;
}

.btn, .adquirir-ingresso {
    color: white;
    background-color: #785333;
    border: 2px solid #785333;
}

li a i {
    font-size: 24px;  /* Tamanho do ícone */
    color: white;     /* Cor branca */
    margin: 0 10px;   /* Espaço entre os ícones */
}

li a:hover i {
    color: white;   /* Cor ao passar o mouse */
}

.btn:hover, .adquirir-ingresso:hover {
    background-color: #785333;
    color: white;
    border: 2px solid #785333;
}

.btn-ajuste {
    margin-left: auto;   /* Isso empurra o botão para a direita */
    margin-right: 15px;  /* Adiciona uma margem à direita do botão */
}

</style>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'imagens/logo.png' %}" style="width:180px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" style="color: #785333;" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #785333;" href="#">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #785333;" href="#">Eventos</a>
            </li>
        </ul>
        <div class="btn-ajuste">
            <a href="{% url 'index' %}">
                <button class="btn my-2 my-sm-0" type="button">Voltar</button>
            </a>
        </div>

    </div>
</nav>
