{% load static %}
<style>

    .name_user {
    font-family: "Arial", sans-serif; 
    font-size: 14px; 
    color: #785333; /
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.name_user p {
    margin: 0.1rem; 
    padding: 1rem;
    text-align: right; 
}
    
    body {
      background-color: white;
      color: #785333;
      font-family: "Cinzel", serif;
      font-size: 24px;
      font-weight: 700;
    }
    

.btn {
    color: white;
    background: #785333;
    border: 2px solid #785333;
}

.btn, .adquirir-ingresso {
    color: white;
    background-color: #785333;
    border: 2px solid #785333;
}

li a i {
    font-size: 24px;  /* Tamanho do ícone */
    color: white;     /* Cor branca */
    margin: 0 10px;   /* Espaço entre os ícones */
}

li a:hover i {
    color: white;   /* Cor ao passar o mouse */
}

.btn:hover, .adquirir-ingresso:hover {
    background-color: #785333;
    color: white;
    border: 2px solid #785333;
}

.btn-ajuste {
    margin-left: auto;   /* Isso empurra o botão para a direita */
    margin-right: 15px;  /* Adiciona uma margem à direita do botão */
}

</style>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'imagens/logo.png' %}" style="width:180px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" style="color: #785333;" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #785333;" href="{% url 'sobrenos' %}">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #785333;" href="{% url 'evento' %}">Eventos</a>
            </li>
        </ul>
    <div class="name_user">
       <p>{{ user.tipo }}, {{ user.first_name }} {{ user.last_name }}</p> 
    </div>
          <div class="dropdown text-end">
                    <a href="#" style="margin-right: 40px;" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.foto %}
                            <img src="{{ user.foto.url }}" alt="Foto de Perfil" width="32" height="32" class="rounded-circle">
                        {% else %}
                             <img src="{% static 'imagens/default-user.png' %}" alt="Foto Padrão" width="32" height="32" class="rounded-circle">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small">
                        {% if user.tipo == "Administrador" %}
                            <li><a class="dropdown-item" href="{% url 'painel' id=request.user.id %}">Painel</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'perfil' id=request.user.id %}">Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
          </div>

    </div>
</nav>
